
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: cornflowerblue;
    text-align: center;
    float: center;
}

.header {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

/* banner */
.title, .subtitle {
    color: ghostwhite;
    background-color: cornflowerblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.question-container {
    background-color: white;
}

/* buttons (restart / scores / options) */
.restart-quiz,
.high-scores {
    float: center;
    background-color: cornflowerblue;
    color: ghostwhite;
    font-weight: bold;
}

.btn {
    background-color: cornflowerblue;
    color: ghostwhite;
    font-weight: bold;
}