body {
    background-color: cornflowerblue;
}

#main-contnet {
    background-color: slategray;
}
.h1, .h2 {
    color: ghostwhite;
    background-color: cornflowerblue;
    text-align: center;
}

.start {
    background-color: cornflowerblue;
    color: ghostwhite;
}

.restart-quiz,
.topscores {
    float: center;
    color: cornflowerblue
}