
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

:root {
    /* unanswered question */
    --hue-natural: 200;
    /* incorrect answer */
    --hue-incorrect: 0;
    /* correct answer */
    --hue-correct: 145;
}

body {
    background-color: cornflowerblue;
    text-align: center;
    float: center;
}

.header {
    background-color: cornflowerblue;
    color: ghostwhite;
    text-align: center;
    border-radius: 1em;
}

.footer {
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

/* banner */
.title, .subtitle {
    color: ghostwhite;
    background-color: cornflowerblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: lightsteelblue;
    margin: auto;
    border-radius: 1em;
    height: 325px;
    width: 700px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornflowerblue;
    font-weight: bold;
}

/* buttons (restart / scores / options) */
.restart-quiz.btn,
.high-scores.btn,
.start-btn,
.next-btn {
    float: center;
    background-color: ghostwhite;
    color: cornflowerblue;
    font-weight: bold;
    border-radius: 1em;
    padding: 5px 10px;
}

.btn {
    --hue: var(--hue-natural);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    height: 40px;
}

.btn:hover {
    border-color: black;
    border-radius: 5px;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.incorrect {
    --hue: var(--hue-incorrect);
}